<nav class="flex w-full justify-between lg:px-30 md:px-16 px-8 py-10 items-center text-[#0B2C46]">
    <div>
        <a href="/" class="flex gap-5 items-center md:text-lg text-sm">
            <img src="/assets/images/CareLog-Logo.png" alt="CareLog Logo" class="w-16 h-16">
            <span class="font-bold">
                CareLog
            </span>
        </a>
    </div>
    <div class="flex gap-20 md:text-lg text-sm font-bold items-center">
        <a href="#feature" class="lg:block hidden">Fitur</a>
        <a href="#about" class="lg:block hidden">Tentang</a>
        <a href="#faq" class="lg:block hidden">FAQ</a>
        <a href="/login" class="bg-[#2B96CA] text-white md:px-10 px-5 py-2 rounded-md">
            Masuk
        </a>
    </div>
</nav>