<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar | CareLog</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="/assets/css/output.css">
</head>
<body class="bg-[#F8FAFC]">
    <%- include('./partials/navbar.ejs') %>

    <div class="flex justify-center md:p-20 text-[#64748B] p-8 py-20 w-full">
        <div class="bg-white shadow-md md:w-[75%] xl:w-[50%] rounded-xl py-20 md:px-16 px-10 w-full">
            <div class="flex justify-center text-center items-center">
                <div class="flex flex-col gap-5">
                    <div class="flex gap-5 items-center md:text-lg text-sm justify-center">
                        <img src="/assets/images/CareLog-Logo.png" alt="CareLog Logo" class="w-24 h-24">
                        <span class="font-bold text-xl text-[#0B2C46]">
                            CareLog
                        </span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-2xl font-bold text-[#0B2C46]">Daftar</p>
                        <p class="text-md">Silahkan daftar terlebih dahulu</p>
                    </div>
                </div>
            </div>

            <% if (errors) { %>
                <% errors.forEach(error => { %>
                    <div class="bg-red-200 text-red-700 w-full py-3 px-5 rounded-xl my-5 flex justify-between items-center">
                        <%= error %>
                        <span onclick="this.parentNode.classList.add('hidden')" class="w-6 h-6 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill="none" d="M0 0h24v24H0z"></path><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>
                        </span>
                    </div>
                <% }) %>
            <% } %>

            <form action="/register" method="post" class="mt-6 flex flex-col gap-8">
                <div class="w-full flex flex-col gap-2">
                    <label for="name">Nama Lengkap</label>
                    <input type="text" name="name" id="name" class="bg-[#F8FAFC] px-5 py-3 rounded-md" placeholder="Masukkan nama lengkap">
                </div>
                <div class="w-full flex flex-col gap-2">
                    <label for="gender">Jenis Kelamin</label>
                    <select name="gender" id="gender" class="bg-[#F8FAFC] px-5 py-3 rounded-md">
                        <option value="" selected disabled>Pilih Jenis Kelamin</option>
                        <option value="Pria">Pria</option>
                        <option value="Perempuan">Perempuan</option>
                    </select>
                </div>
                <div class="w-full flex flex-col gap-2">
                    <label for="birthOfDate">Tanggal Lahir</label>
                    <input type="date" name="birthOfDate" id="birthOfDate" class="bg-[#F8FAFC] px-5 py-3 rounded-md">
                </div>
                <div class="w-full flex flex-col gap-2">
                    <label for="address">Alamat</label>
                    <input type="text" name="address" id="address" class="bg-[#F8FAFC] px-5 py-3 rounded-md" placeholder="Masukkan alamat">
                </div>
                <div class="w-full flex flex-col gap-2">
                    <label for="phoneNumber">No. Handphone</label>
                    <input type="number" name="phoneNumber" id="phoneNumber" class="bg-[#F8FAFC] px-5 py-3 rounded-md" placeholder="Masukkan nomor handphone">
                </div>

                <div class="w-full flex flex-col gap-2">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="bg-[#F8FAFC] px-5 py-3 rounded-md" placeholder="email@mail.com">
                </div>
                <div class="w-full flex flex-col gap-2">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="bg-[#F8FAFC] px-5 py-3 rounded-md" placeholder="************">
                </div>
                <div class="w-full flex flex-col gap-2">
                    <label for="confirmPassword">Konfirmasi Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="bg-[#F8FAFC] px-5 py-3 rounded-md" placeholder="************">
                    <p id="errorMessage" class="text-red-500 text-sm hidden">Password tidak sama.</p>
                </div>
                
                <button type="submit" id="submitBtn" class="py-4 cursor-pointer text-white bg-[#2B96CA] rounded-lg">
                    Daftar
                </button>
                <div class="text-center font-medium">Sudah punya akun? <a href="/login" class="text-[#2B96CA] hover:underline">Masuk</a></div>
            </form>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirmPassword");
        const errorMessage = document.getElementById("errorMessage");
        const submitBtn = document.getElementById("submitBtn");

        submitBtn.addEventListener("click", function (e) {
            if (passwordInput.value !== confirmPasswordInput.value) {
                e.preventDefault();
                errorMessage.classList.remove("hidden");
            } else {
                errorMessage.classList.add("hidden");
            }
        });
    </script>
</body>
</html>