<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Periksa Pasien | CareLog</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="/assets/css/output.css">
</head>
<body>
    <div class="flex bg-[#F8FAFC] h-screen gap-2 w-full">
        <%- include('../partials/sidebarDoctor.ejs') %>

        <div class="h-full text-[#64748B] w-full">
            <div class="p-20 flex flex-col gap-12">
                <div>
                    <h1 class="text-xl font-bold text-[#0B2C46]">Periksa Pasien</h1>

                </div>

                <div class="flex flex-col w-full bg-white rounded-md p-8 gap-10">
                    <form action="/doctor/queue/<%= queueId %>/diagnose" method="post" class="flex flex-col gap-8">

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>